*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  height: 100px;
  width: 600px;
  background-color: pink;
  padding: 10px;
  margin: 20px;
}

.nav{
  background-color: black;
  color: white;
  padding: 10px;
  margin: 5px;
}